<p>
  <%= label_tag('settings[tracker_id]', l(:label_tracker)) %>
  <%= select_tag "settings[tracker_id]", options_from_collection_for_select(Tracker.sorted, "id", "name", @settings['tracker_id']) %>
</p>
<p>
  <%= label_tag('settings[project_id]', l(:label_project)) %>
  <%= select_tag "settings[project_id]", options_from_collection_for_select(Project.sorted, "id", "name", @settings['project_id']) %>
</p>

